<div class="container">
    <div class="col-md-4 authWidget">
        <br/>
        <h1>Settings</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div ng-show="success" class="alert alert-info">{{successMessage}}</div>

        <form class="form" ng-submit="updateSettings()">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="first" ng-model="settingsForm.first" required>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="last" ng-model="settingsForm.last" required>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ng-model="settingsForm.city" required>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" ng-model="settingsForm.state" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" ng-disabled="disabled">Update Settings</button>
            </div>
        </form>
    </div>
</div>