.wrapper {
    width: 1170px;
    margin: auto;
    background: #e7e7e7;
}

.authWidget {
    padding-bottom: 35px;
}

.jumbotron {
    background: #4393B9!important;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F5F5F5;
    font-size: 105px;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}

.fa-cog-size {
    font-size: 20px;
    padding-right: 5px;
}