<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<!-- @@@@@                                                                                         @@@@@@ -->
<!-- @@@@@                                        Admin console                                    @@@@@@ -->
<!-- @@@@@                                                                                         @@@@@@ -->
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<div class="container-fluid gamer" ng-click="vm.getWithdraw()">
    <!-- the page header -->
    <div class="row">

        <!-- ========================================================= -->
        <!-- ===                    Header Menu                    === -->
        <!-- ========================================================= -->
        <div class="col-sm-12">
            <div class="well well-lg well-partner">
                <table>
                    <tr>
                        <!-- pahe logo -->
                        <td class="logo-partner">Partner Console</td>
                        
                        <td class="tdMenu1-partner">
                            <!-- msg button -->
                            <span class="msgCount">{{vm.msgLength}}</span>
                            <a ng-click="vm.profile(); vm.getMsg(); msg=false; help=false; partnerInfo=false; plan=false; ads=false; analyse=false; payment=false;">
                                <span class="fa fa-envelope help-sign" aria-hidden="true"></span>
                            </a>&nbsp;&nbsp;                            

                            <!-- help button -->
                            <a ng-click="msg=true; help=true; partnerInfo=false; plan=false; ads=false; analyse=false; payment=false;">
                                <span class="fa fa-question-circle help-sign" aria-hidden="true"></span>
                            </a>    
                            
                            <!-- account info button -->
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.profile(); partnerInfo=true; plan=false; ads=false; analyse=false; payment=false; vm.getscores(); help=false;"><span class="glyphicon btn-glyphicon fa fa-user img-circle menu-top2-partner"></span>Account</a>
                        </td>
                        <!-- ads button -->
                        <td class="tdMenu3-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.profile(); partnerInfo=false; plan=false; ads=true; analyse=false; payment=false; help=false;"><span class="glyphicon btn-glyphicon fa fa-file-video-o img-circle menu-top2-partner"></span>Ads</a>
                        </td>
                        <!-- analyse button -->
                        <td class="tdMenu5-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.getAnalys(); vm.profile(); partnerInfo=false; plan=false; ads=false; analyse=true; payment=false; help=false;"><span class="glyphicon btn-glyphicon fa fa-line-chart img-circle menu-top2-partner"></span>Analyze</a>
                        </td>
                        <!-- payment button -->
                        <td class="tdMenu6-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.getPayHistory(); vm.getPayout(); vm.getscores(); vm.profile(); partnerInfo=false; plan=false; ads=false; analyse=false; payment=true; help=false;"><span class="glyphicon btn-glyphicon fa fa-credit-card img-circle menu-top2-partner"></span>Payment</a>
                        </td>
                        <!-- sign out button -->
                        <td class="tdMenu4-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="vm.logout()"><span class="glyphicon btn-glyphicon glyphicon-off img-circle menu-top2-partner"></span>sign out</a>
                        </td>
                    </tr>
                </table>
            </div>
        <div class="col-sm-12">
            <div class="well well-lg well-admin">
                <table>
                    <tr>
                        <!-- pahe logo -->
                        <td class="logo-partner">Admin Console</td>
                        
                        <!-- sign out button -->
                        <td class="tdMenu3-partner">
                            <a class="btn icon-btn menu-top-admin" ng-click="vm.getWithdraw()"><span class="glyphicon btn-glyphicon fa fa-cloud-download img-circle menu-top2-admin"></span>load requests</a>
                        </td>
                        <!-- sign out button -->
                        <td class="tdMenu4-partner">
                            <a class="btn icon-btn menu-top-admin" ng-click="vm.logout()"><span class="glyphicon btn-glyphicon glyphicon-off img-circle menu-top2-admin"></span>sign out</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div> <!-- ./ header menu -->

        <!-- ========================================================= -->
        <!-- ===                      Withdraw                     === -->
        <!-- ========================================================= -->
        <div class="col-sm-12">
            <div class="well well-lg well-partner">
                <table>
                    <tr>
                        <!-- pahe logo -->
                        <td class="logo-partner">Partner Console</td>
                        
                        <td class="tdMenu1-partner">
                            <!-- msg button -->
                            <span class="msgCount">{{vm.msgLength}}</span>
                            <a ng-click="vm.profile(); vm.getMsg(); msg=false; help=false; partnerInfo=false; plan=false; ads=false; analyse=false; payment=false;">
                                <span class="fa fa-envelope help-sign" aria-hidden="true"></span>
                            </a>&nbsp;&nbsp;                            

                            <!-- help button -->
                            <a ng-click="msg=true; help=true; partnerInfo=false; plan=false; ads=false; analyse=false; payment=false;">
                                <span class="fa fa-question-circle help-sign" aria-hidden="true"></span>
                            </a>    
                            
                            <!-- account info button -->
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.profile(); partnerInfo=true; plan=false; ads=false; analyse=false; payment=false; vm.getscores(); help=false;"><span class="glyphicon btn-glyphicon fa fa-user img-circle menu-top2-partner"></span>Account</a>
                        </td>
                        <!-- ads button -->
                        <td class="tdMenu3-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.profile(); partnerInfo=false; plan=false; ads=true; analyse=false; payment=false; help=false;"><span class="glyphicon btn-glyphicon fa fa-file-video-o img-circle menu-top2-partner"></span>Ads</a>
                        </td>
                        <!-- analyse button -->
                        <td class="tdMenu5-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.getAnalys(); vm.profile(); partnerInfo=false; plan=false; ads=false; analyse=true; payment=false; help=false;"><span class="glyphicon btn-glyphicon fa fa-line-chart img-circle menu-top2-partner"></span>Analyze</a>
                        </td>
                        <!-- payment button -->
                        <td class="tdMenu6-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="msg=true; vm.getPayHistory(); vm.getPayout(); vm.getscores(); vm.profile(); partnerInfo=false; plan=false; ads=false; analyse=false; payment=true; help=false;"><span class="glyphicon btn-glyphicon fa fa-credit-card img-circle menu-top2-partner"></span>Payment</a>
                        </td>
                        <!-- sign out button -->
                        <td class="tdMenu4-partner">
                            <a class="btn icon-btn menu-top-partner" ng-click="vm.logout()"><span class="glyphicon btn-glyphicon glyphicon-off img-circle menu-top2-partner"></span>sign out</a>
                        </td>
                    </tr>
                </table>
            </div>
        <div class="panel-group">
            <div class="panel panel-warning">
                <div class="panel-heading">Withdrawal request <span class="fa fa-usd"></span></div>
                <div class="panel-body">
                    <div class="alert alert-warning">                            
                                      
                        <table>                            
                            <tr >
	                            <td class="result">
                                    <div class="col-md-4" ng-repeat="data in vm.admin">
                                        <a ng-hide="uncheck" class="close fa fa-remove" aria-label="close" ng-click="vm.id=data._id; vm.delWithdraw(); vm.getWithdraw()">
                                        </a>
                                        <div class="alert alert-warning pic-alert">
	                                        <div class="job-details">
	                                            <h5>{{data.date}}</h5>
	                                            <h4>{{data.username}}</h4>
	                                            <h6>1000 Coins</h6>
	                                            <h6>$ 79.99</h6>
	                                        </div>
                                        </div>
                                    </div>
	                            </td>
                            </tr>                            
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- ./ withdraw -->

    </div> <!-- ./ row -->
</div>